// wap
.mobile{
  position: absolute;
  transform-origin:0 0;
  background: url(image_path('wap_bg.jpg')) no-repeat;
  background-size: cover;
  .inner{
    width: 360px;
    .innercontent{
      position: relative;
    }
  }
  .warp{
    width: auto !important;
  }
  .banner{
    margin-top: -2px;
    background: none;
    height: auto;
    width: 100%;
    margin-bottom: 4px;
    padding-bottom: 0;
    span{
      position: absolute;
      height: 100%;
      display: block;
      width: 50px;
      background: url(about:blank);
      top: 0;
      left: 270px;
    }
  }
  .main-inner{
    background: none;
  }
  .showarea{
    background: none;
    .showdianzan{
      .title1{
        padding-left: 8px;
        img{
          width: 63px;
        }
        ul.groups{
          margin-left: 8px;
          li{
            float: left;
            height: 66px;
            line-height: 66px;
            margin: 0 -6px;
            span{
              font-family: "微软雅黑";
              font-size:10px;
              position: relative;
              line-height: 16px;
              display: inline-block;
              height: 16px;
              color: #fefefe;
              padding: 0 22px;
              cursor: pointer;
              background: url(image_path('wap_greenborder.png')) no-repeat;
              background-size: contain;
            }
            span.active{
              margin: 0;
              background: url(image_path('wap_redborder.png')) no-repeat;
              background-size: contain;
            }
          }
        }
      }
      .sliders{
        .sliderwarp{
          padding: 0;
          width: 100%;
          .carousel-inner{
            overflow: hidden;
            width: 340px;
            margin: 0 auto;
            ul{
              overflow: hidden;
              width: 10000px;
              display: inline-block;
              height: 94px;
              li{
                float: left;
                width: 114px;
                padding: 2px;
                box-sizing:border-box;
                a{
                  float: left;
                  display: inline-block;
                  overflow: hidden;
                  img{
                    display: block;
                    width: 102px;
                    height: 67px;
                  }
                  span.greenbg{
                    display: block;
                    color: #ea5413;
                    font-size: 9px;
                    font-family: '微软雅黑';
                    position: relative;
                    margin-left: 4px;
                    margin-top: 4px;
                    line-height: 14px;
                    width: 92px;
                    height: 14px;
                    padding: 0 12px 0 16px;
                    box-sizing:border-box;
                    background: url(image_path('wap_zan-border.png')) no-repeat;
                    cursor: pointer;
                    background-size: cover;
                    i{
                      float: left;
                      display: inline-block;
                      width: 12px;
                      height: 14px;
                      background: url(image_path('zan.png')) no-repeat left 50%;
                      background-size: 80%;
                    }
                    b{
                      font-size: 10px;
                      line-height: 14px;
                      height: 14px;
                      display: inline-block;
                    }
                  }
                  span.clicked{
                    i{
                      background: url(image_path('haoduozan.png')) no-repeat left 50%;
                    }
                  }
                }
              }
            }
          }
          .unslider-arrow{
            position: absolute;
            top: 23.5px;
            z-index: 9;
            cursor: pointer;
            width: 10px;
            height: 30px;
          }
          .prev{
            left: 0px;
          }
          .next{
            right: 0px;
          }
        }
        .showslider{
            display: block;
          }

      }
    }
    .showroute{
      background: url(image_path('wap_routebg.png')) no-repeat;
      background-size: contain;
      position: relative;
      .title2{
        margin-top: -2px;
        ul.groups{
          margin-left: 50px;
          margin-top: 108px;
          li{
            float: left;
            line-height: 36px;
            height: 36px;
            margin: 0 -2px;
            span{
              font-size: 9px;
              line-height: 15px;
              height: 15px;
              padding:0 22px;
              background: url(image_path('wap_greenborder.png')) no-repeat;
              background-size: cover;
            }
          }
        }
      }
      .routes{
        position: relative;
        .route{
          width: 100%;
          overflow: hidden;
          display: none;
          ul{
            li{
              float: left;
              width: 360px!important;
              overflow: hidden;
              margin:0;
              display: block;
              a{
                float: left;
                text-decoration: none;
                width: 108px;
                display: block;
                padding:0 3px;
                img{
                  width: 108px;
                  height: 80px;
                }
                span.title{
                  display: block;
                  color: #3a2d29;
                  font-size: 9px;
                  font-family: '微软雅黑';
                  margin-top: 4px;
                  line-height: 14px;
                  height: 28px;
                  box-sizing:border-box;
                  text-decoration: none;
                }
              }
            }
          }
          .dots{
            text-align: center;
            margin:18px 0;
            li{
              position: absolute;
              display: inline-block;
              width: 12px;
              height: 30px;
              font-size: 0;
              cursor: pointer;
              top: 27px;
              margin-right:0;
            }
            li:first-child{
              background: url(image_path('wap-leftarrow.png')) no-repeat;
              background-size: cover;
              left: 0
            }
            li:last-child{
              background: url(image_path('wap-rightarrow.png')) no-repeat;
              background-size: cover;
              right: 1px;
            }
          }
        }
        .showslider{
          display: block;
        }
        .unslider-arrow{
          position: absolute;
          top: 44.5px;
        }
        .prev{
          left: -25px;
        }
        .next{
          right: 0;
        }
      }
      .rule{
        position: absolute;
        top: 30px;
        p{
          font-size: 9px;
          font-family: '微软雅黑';
          color: #636262;
          line-height: 15px;
          height: 15px;
        }
      }
    }
  }
  .hotel{
    background: none;
    height: 145px;
    .warp{
      background: url(image_path('wap_hotelbg.png')) no-repeat 50% top;
      background-size: contain;
      height: 140px;
      .sliders{
        top: 45px;
        left: 113px;
        width: 245px;
        .carousel-inner{
          width: 220px;
          ul{
            overflow: hidden;
            width: 10000px;
            display: inline-block;
            margin-left:-13px;
            li{
              float: left;
              .ie6 &{
                display: inline;
              }
              a{
                display: inline-block;
                text-decoration: none;
                img{
                  width: 104px;
                  height: 78px;
                  .lt-ie9 &{
                    max-width: none;
                  }
                }
                span.title{
                  height: 10px;
                  line-height: 10px;
                }
              }
            }
          }
        }
        .unslider-arrow{
          width: 8px;
          height: 15px;
          display: inline-block;
          font-size: 30px;
        }
        .prev{
          left: -4px;
          text-align: right;
          font-family: "微软雅黑";
        }
        .next{
          right: 5px;
          font-family: "微软雅黑";
        }
      }
    }
  }
  .liangdian{
    margin-top: 20px;
    .warp{
      width: 1012px;
      margin: 0 auto;
      text-align: center;
      a.button{
      }
    }
  }
  //tanchu
  .tanchus{
    .tanchu{
      position: absolute;
      top: -4px;
      width: 100%;
      text-align: center;
      z-index: 10;
      .warp{
        position: relative;
        width: 1012px;
        margin: 0 auto;
        .title{
          position: absolute;
          left: 46px;
          top: 0;
        }
        .close{
          width: 90px;
          height: 90px;
          position: absolute;
          right: 0px;
          top: 0px;
          z-index: 11;
          cursor: pointer;
          // background: url(image_path('closeimg.png'));
          background: url('about:blank');
        }
        .sharebutton{
          left: 0;
          bottom: -28px;
          img{
            width: 135px;
          }
          &:hover{
            cursor: pointer;
          }
          span{
            top: 0;
            width: 29px;
            height: 24px;
          }
          .weixin{
            left: 180px;
          }
          .weibo{
            left: 208px;
            a{
              display: inline-block;
              width: 100%;
              height: 100%;
              background: url('about:blank');
            }
          }
        }
      }
    }
    .huodongguize{
      display: none;
      .guize{
        position: absolute;
        text-align: left;
        color: #ffffff;
        font-family: '微软雅黑';
        overflow-y: scroll;
        box-sizing:border-box;
        top: 40px;
        left: 26px;
        font-size: 8px;
        line-height: 18px;
        padding-right: 0;
        width: 300px;
        height: 422px;
        &::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar
        {
          width: 4px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          background-color: #c64806;
          width: 8px;
        }
        b{
          font-weight: bold;
          font-family: '微软雅黑'
        }
      }
    }
    .gongxi{
      display: none;
      .content{
        position: absolute;
        top: 32px;
        .xuanyanimage{
          position: absolute;
          bottom: auto;
          right: auto;
          left: 23.5px;
          top: 201px;
          // display: none;
        }
        .usersshareimg{
          position: absolute;
          overflow: hidden;
          background: url(image_path('zhanwei.png')) no-repeat;
          background-size: cover;
          left: 23.5px;
          top: 73px;
          right: auto;
          bottom: auto;
          height: 128px;
          width: 308px;
          img{
            width: 100%;
            border-radius: 8px;
          }
        }
      }
    }
    .zansuccess{
      display: none;
      .content{
        position: absolute;
        top: 32px;
      }
    }
    .shangchuan{
      display: none;
      form{
        margin-top: 40px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .shangchuanwarp{
          margin-top: 88px;
          .title{
            position: absolute;
            left: 46px;
            top: -26px;
          }
          input[type="file"]{
            opacity: 0;
            filter: alpha(opacity=0);
            position: absolute;
            z-index: 999;
            height: 30px;
            width: 210px;
            left: 0;
            top: 0;
          }
          .content{
            margin-bottom: 30px;
          }
          .sharebutton{
            position: absolute;
            left: 112px;
            bottom: 31px;
            img{
              width: 135px;
            }
          }
          label{
            position: absolute;
            top: 113px;
            left: 81px;
            input[type='text']{
              height: 24px;
              line-height: 24px;
              font-size: 12px;
              padding: 0 30px;
              width: 100px;
            }
            span{
              position: relative;
              top: 5px;
              left: 15px;
              img{
                width: 24px;
              }
            }
          }
          p{
            color: white;
            font-size: 10px;
            margin-top: 0;
            position: absolute;
            top: 151px;
            left: 120px;
          }
          .xuanxiang{
            font-family: '微软雅黑';
            color: #ffffff;
            margin-top: 25px;
            position: relative;
            display: block;
            margin-left: -23px;
            float: none;
            height: 14px;
            font-size: 13px;
            label.check{
              display: inline-block;
              padding-left: 30px;
              background: url(wap_checkbox.jpg) no-repeat;
              background-size: contain;
              height: 13px;
            }
            input[type="radio"]{
              position: absolute;
              width: 0;
              -moz-opacity: 0;
              //filter:alpha(opacity:0);
              opacity:0;
              outline:none;
            }
            label.check.checked{
              background: url(wap_checkbox2.jpg) no-repeat;
              background-size: contain;
            }
          }
        }
        .zhucewarp{
          display: none;
          margin: 0 auto;
          margin-top: 60px;
          padding-left: 33px;
          width: 330px;
          .sharebutton{
            left: 105px;
            bottom: 32px;
            position: absolute;
            input{
              width: 135px;
              height: 26px;
            }
          }
          p{
            margin-bottom: 28px;
            height:22px;
            line-height: 22px;
            overflow: hidden;
            label{
              font-size: 14px;
              color: #ffffff;
              float: left;
              margin-right:30px;
              width: 71px;
              text-align: right;
            }
            input{
              box-sizing:border-box;
              float: left;
              height: 22px;
              line-height: 22px;
              font-size: 14px;
              width: 120px;
            }
            select{
              float: left;
              height: 22px;
              line-height: 22px;
              font-size: 14px;
              box-sizing:border-box;
              width: 150px;
            }
          }
          p.big{
            margin-bottom: 40px;
            img{
              margin: 4px 0 0 -20px;
            }
          }
          p.word{
            width: 280px;
            text-align: left;
            font-size: 14px;
            color: #ffffff;
            font-family: '微软雅黑';
            height: 40px;
          }
          span{
            margin: 0 25px;
            input[type='radio']{
              margin-right: 8px;
            }
            label{
              font-size: 14px;
              color: #ffffff;
              font-family: '微软雅黑';
              margin-bottom: -8px;
            }
          }
        }
      }
    }
  }
  .zhezhao{
    background-color: #000000;
    opacity:0.5;
    filter:alpha(opacity=50);
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
  }
  .erweima{
    position: absolute;
    display: none;
    top: 200px;
    z-index: 10;
    width: 100%;
    .warp{
        width: 1012px;
        margin: 0 auto;
      .erweimaarea{
        background-color: #ffffff;
        padding: 20px;
        width: 200px;
        margin:0 auto;
        p{
          border-bottom: 1px solid #000000;
          line-height: 20px;
          height: 20px;
          margin-bottom: 5px;
          span{
            font-size: 14px;
          }
          span.right{
            float: right;
            color: #eeeeee;
            cursor: pointer;
          }
        }
        img{
          width: 175px;
          margin-left: 12px;
        }
      }
    }
  }
}

