.lazyload{
  position: absolute;
  padding: 6px;
  height: 100%;
  .lazyload_inner{
    height:100%;
    display: block;
    width: 100%;
    background: image_url('loading.gif');
    background-size: contain;
  }
}
.dots{
  .dot{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: yellow;
  }
  .dot.active{
    background: red;
  }
}